# La Liga Jupyter Notebook 

This purpose of this notebook is to use data from the Spanish La Liga to experiment with.

In the first cell below we add in the necessart Python Libraries and then load the data set into a dataframe.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
la_liga_data = pd.read_csv('../data/LaLiga_Matches_1995-2021.csv')
la_liga_data.head()

    Season      Date    HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  HTAG HTR
0  1995-96  2/9/1995   La Coruna    Valencia     3     0   H   2.0   0.0   H
1  1995-96  2/9/1995    Sp Gijon    Albacete     3     0   H   3.0   0.0   H
2  1995-96  3/9/1995  Ath Bilbao   Santander     4     0   H   2.0   0.0   H
3  1995-96  3/9/1995  Ath Madrid    Sociedad     4     1   H   1.0   1.0   D
4  1995-96  3/9/1995       Celta  Compostela     0     1   A   0.0   0.0   D

Once we have the data loaded we try to understand the data we are working with. 

There are over 10K rows loaded with 10 columns in the dataframe.

In [4]:
la_liga_data.shape

(10044, 10)

In [ ]:
la_liga_data.info()
la_liga_data.info
la_liga_data.describe()
la_liga_data.describe

In [ ]:
def getOneTeamPerformance(teamName, laligadataframe):
    #df = pd.DataFrame()
    """This method will take the data set and the team that was passed and create the following
    1. Points obtained from the match
    2. Goals for and goals against
    
    This can then be used to construct final league tables or legue tables at certain points in time."""
    
   # laligadataframe[(laligadataframe['HomeTeam']==teamName)|(laligadataframe['AwayTeam']==teamName)]
    laligadataframe=laligadataframe[(laligadataframe['HomeTeam']==teamName)|(laligadataframe['AwayTeam']==teamName)]
   
    laligadataframe.loc[(laligadataframe['HomeTeam']==teamName)&(laligadataframe['FTHG']>laligadataframe['FTAG']),'Points']=3 
    laligadataframe.loc[(laligadataframe['HomeTeam']==teamName)&(laligadataframe['FTHG']==laligadataframe['FTAG']),'Points']=1 
    laligadataframe.loc[(laligadataframe['HomeTeam']==teamName)&(laligadataframe['FTHG']<laligadataframe['FTAG']),'Points']=0
    laligadataframe.loc[(laligadataframe['AwayTeam']==teamName)&(laligadataframe['FTHG']<laligadataframe['FTAG']),'Points']=3
    laligadataframe.loc[(laligadataframe['AwayTeam']==teamName)&(laligadataframe['FTHG']==laligadataframe['FTAG']),'Points']=1 
    laligadataframe.loc[(laligadataframe['AwayTeam']==teamName)&(laligadataframe['FTHG']>laligadataframe['FTAG']),'Points']=0  

    laligadataframe.loc[(laligadataframe['AwayTeam']==teamName),'Goals For']=laligadataframe['FTAG'] 
    laligadataframe.loc[(laligadataframe['HomeTeam']==teamName),'Goals For']=laligadataframe['FTHG']

    laligadataframe.loc[(laligadataframe['AwayTeam']==teamName),'Goals Against']=laligadataframe['FTHG'] 
    laligadataframe.loc[(laligadataframe['HomeTeam']==teamName),'Goals Against']=laligadataframe['FTAG']
    #laligadataframe.loc[(laligadataframe['HomeTeam']==teamName)&(laligadataframe['FTHG']==laligadataframe['FTAG']),'Points']=1  
   
   #filterinfDataframe = dfObj[(dfObj['Sale'] > 30) & (dfObj['Sale'] < 33) ]
   # laligadataframe[(laligadataframe['HomeTeam']==teamName)|(laligadataframe['AwayTeam']==teamName)]
    #laligadataframe = l

    #laligadataframe['Points'] = [3 if (laligadataframe['HomeTeam']==teamName) & (laligadataframe['FTHG']>laligadataframe['FTAG']) else 0]

    #laligadataframe[(laligadataframe['HomeTeam']==teamName)&(laligadataframe['FTHG'])>(laligadataframe['FTAG']),'points']=3
    #laligadataframe.loc[laligadataframe['HomeTeam']]==teamName and laligadataframe.loc[laligadataframe['FTHG']>laligadataframe['FTAG'],'points']=3
    #laligadataframe.loc[laligadataframe['HomeTeam']==teamName and laligadataframe['FTHG']==laligadataframe['FTAG'],'points']=1
    #laligadataframe.loc[laligadataframe['HomeTeam']==teamName and laligadataframe['FTHG']<laligadataframe['FTAG'],'points']=0
    #laligadataframe.loc[laligadataframe['AwayTeam']==teamName and laligadataframe['FTHG']<laligadataframe['FTAG'],'points']=3
    #laligadataframe.loc[laligadataframe['AwayTeam']==teamName and laligadataframe['FTHG']==laligadataframe['FTAG'],'points']=1
    #laligadataframe.loc[laligadataframe['AwayTeam']==teamName and laligadataframe['FTHG']>laligadataframe['FTAG'],'points']=0
       
    return laligadataframe
    
     
    #df_employees[(df_employees['salary'] > 45000) & (df_employees['type_contract'] == 'permanent')]

In [ ]:
real_madrid = getOneTeamPerformance('Real Madrid', la_liga_data)

In [ ]:
thisweek=real_madrid[(real_madrid['AwayTeam']=='Celta')]

In [ ]:
real_madrid.groupby('Season',as_index=False)['Goals For','Goals Against','Points'].sum()