# La Liga Jupyter Notebook 

This purpose of this notebook is to use data from the Spanish La Liga to experiment with.

In the first cell below we add in the necessart Python Libraries and then load the data set into a dataframe. 


First steps we wll pull out all Real Madrid data and Compare different attributes to other teams in he league.

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
la_liga_data = pd.read_csv('../data/LaLiga_Matches_1995-2021.csv')
la_liga_data.head()

ModuleNotFoundError: No module named 'scipy'

Once we have the data loaded we try to understand the data we are working with. 

There are over 10K rows loaded with 10 columns in the dataframe.

In [ ]:
la_liga_data.shape

(10044, 10)

In [ ]:
la_liga_data.info()
la_liga_data.info
la_liga_data.describe()
la_liga_data.describe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10044 entries, 0 to 10043
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Season    10044 non-null  object
 1   Date      10044 non-null  object
 2   HomeTeam  10044 non-null  object
 3   AwayTeam  10044 non-null  object
 4   FTHG      10044 non-null  int64
 5   FTAG      10044 non-null  int64
 6   FTR       10044 non-null  object
 7   HTHG      10042 non-null  float64
 8   HTAG      10042 non-null  float64
 9   HTR       10042 non-null  object
dtypes: float64(2), int64(2), object(6)
memory usage: 784.8+ KB

<bound method NDFrame.describe of         Season        Date     HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  \
0      1995-96    2/9/1995    La Coruna    Valencia     3     0   H   2.0
1      1995-96    2/9/1995     Sp Gijon    Albacete     3     0   H   3.0
2      1995-96    3/9/1995   Ath Bilbao   Santander     4     0   H   2.0
3      1995-96    3/9/1995   Ath Madrid    Sociedad     4     1   H   1.0
4      1995-96    3/9/1995        Celta  Compostela     0     1   A   0.0
...        ...         ...          ...         ...   ...   ...  ..   ...
10039  2020-21  22/05/2021      Osasuna    Sociedad     0     1   A   0.0
10040  2020-21  22/05/2021  Real Madrid  Villarreal     2     1   H   0.0
10041  2020-21  22/05/2021   Valladolid  Ath Madrid     1     2   A   1.0
10042  2020-21  23/05/2021      Granada      Getafe     0     0   D   0.0
10043  2020-21  23/05/2021      Sevilla      Alaves     1     0   H   0.0

       HTAG HTR
0       0.0   H
1       0.0   H
2       0.0   H
3       1.0   D
4       0.0   D
...     ...  ..
10039   0.0   D
10040   1.0   A
10041   0.0   H
10042   0.0   D
10043   0.0   D

[10044 rows x 10 columns]>

In [ ]:
def getOneTeamPerformance(teamName, laligadataframe):
    #df = pd.DataFrame()
    """This method will take the data set and the team that was passed and create the following
    1. Points obtained from the match
    2. Goals for and goals against
    
    This can then be used to construct final league tables or legue tables at certain points in time."""
    
   # laligadataframe[(laligadataframe['HomeTeam']==teamName)|(laligadataframe['AwayTeam']==teamName)]
    laligadataframe=laligadataframe[(laligadataframe['HomeTeam']==teamName)|(laligadataframe['AwayTeam']==teamName)]
   
    laligadataframe.loc[(laligadataframe['HomeTeam']==teamName)&(laligadataframe['FTHG']>laligadataframe['FTAG']),'Points']=3 
    laligadataframe.loc[(laligadataframe['HomeTeam']==teamName)&(laligadataframe['FTHG']==laligadataframe['FTAG']),'Points']=1 
    laligadataframe.loc[(laligadataframe['HomeTeam']==teamName)&(laligadataframe['FTHG']<laligadataframe['FTAG']),'Points']=0
    laligadataframe.loc[(laligadataframe['AwayTeam']==teamName)&(laligadataframe['FTHG']<laligadataframe['FTAG']),'Points']=3
    laligadataframe.loc[(laligadataframe['AwayTeam']==teamName)&(laligadataframe['FTHG']==laligadataframe['FTAG']),'Points']=1 
    laligadataframe.loc[(laligadataframe['AwayTeam']==teamName)&(laligadataframe['FTHG']>laligadataframe['FTAG']),'Points']=0  

    laligadataframe.loc[(laligadataframe['AwayTeam']==teamName),'Goals For']=laligadataframe['FTAG'] 
    laligadataframe.loc[(laligadataframe['HomeTeam']==teamName),'Goals For']=laligadataframe['FTHG']

    laligadataframe.loc[(laligadataframe['AwayTeam']==teamName),'Goals Against']=laligadataframe['FTHG'] 
    laligadataframe.loc[(laligadataframe['HomeTeam']==teamName),'Goals Against']=laligadataframe['FTAG']
    #laligadataframe.loc[(laligadataframe['HomeTeam']==teamName)&(laligadataframe['FTHG']==laligadataframe['FTAG']),'Points']=1  
   
   #filterinfDataframe = dfObj[(dfObj['Sale'] > 30) & (dfObj['Sale'] < 33) ]
   # laligadataframe[(laligadataframe['HomeTeam']==teamName)|(laligadataframe['AwayTeam']==teamName)]
    #laligadataframe = l

    #laligadataframe['Points'] = [3 if (laligadataframe['HomeTeam']==teamName) & (laligadataframe['FTHG']>laligadataframe['FTAG']) else 0]

    #laligadataframe[(laligadataframe['HomeTeam']==teamName)&(laligadataframe['FTHG'])>(laligadataframe['FTAG']),'points']=3
    #laligadataframe.loc[laligadataframe['HomeTeam']]==teamName and laligadataframe.loc[laligadataframe['FTHG']>laligadataframe['FTAG'],'points']=3
    #laligadataframe.loc[laligadataframe['HomeTeam']==teamName and laligadataframe['FTHG']==laligadataframe['FTAG'],'points']=1
    #laligadataframe.loc[laligadataframe['HomeTeam']==teamName and laligadataframe['FTHG']<laligadataframe['FTAG'],'points']=0
    #laligadataframe.loc[laligadataframe['AwayTeam']==teamName and laligadataframe['FTHG']<laligadataframe['FTAG'],'points']=3
    #laligadataframe.loc[laligadataframe['AwayTeam']==teamName and laligadataframe['FTHG']==laligadataframe['FTAG'],'points']=1
    #laligadataframe.loc[laligadataframe['AwayTeam']==teamName and laligadataframe['FTHG']>laligadataframe['FTAG'],'points']=0
       
    return laligadataframe
    
     
    #df_employees[(df_employees['salary'] > 45000) & (df_employees['type_contract'] == 'permanent')]

In [ ]:
real_madrid = getOneTeamPerformance('Real Madrid', la_liga_data)

/var/folders/vl/m3d7dnp16t9grcylf8s6n4xc0000gn/T/ipykernel_15822/1558441874.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  laligadataframe.loc[(laligadataframe['HomeTeam']==teamName)&(laligadataframe['FTHG']>laligadataframe['FTAG']),'Points']=3
/var/folders/vl/m3d7dnp16t9grcylf8s6n4xc0000gn/T/ipykernel_15822/1558441874.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  laligadataframe.loc[(laligadataframe['AwayTeam']==teamName),'Goals For']=laligadataframe['FTAG']
/var/folders/vl/m3d7dnp16t9grcylf8s6n4xc0000gn/T/ipykernel_15822/1558441874.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  laligadataframe.loc[(laligadataframe['AwayTeam']==teamName),'Goals Against']=laligadataframe['FTHG']

In [ ]:
thisweek=real_madrid[(real_madrid['AwayTeam']=='Celta')]

In [ ]:
real_madrid.groupby('Season',as_index=False)['Goals For','Goals Against','Points'].sum()

/var/folders/vl/m3d7dnp16t9grcylf8s6n4xc0000gn/T/ipykernel_15822/1643907233.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  real_madrid.groupby('Season',as_index=False)['Goals For','Goals Against','Points'].sum()

       Season  Goals For  Goals Against  Points
0     1995-96       75.0           51.0    70.0
1     1996-97       85.0           36.0    92.0
2     1997-98       63.0           45.0    63.0
3     1998-99       77.0           62.0    68.0
4   1999-2000       58.0           48.0    62.0
5     2000-01       81.0           40.0    80.0
6     2001-02       69.0           44.0    66.0
7     2002-03       86.0           42.0    78.0
8     2003-04       72.0           54.0    70.0
9     2004-05       71.0           32.0    80.0
10    2005-06       70.0           40.0    70.0
11    2006-07       66.0           40.0    76.0
12    2007-08       84.0           36.0    85.0
13    2008-09       83.0           52.0    78.0
14    2009-10      102.0           35.0    96.0
15    2010-11      102.0           33.0    92.0
16    2011-12      121.0           32.0   100.0
17    2012-13      103.0           42.0    85.0
18    2013-14      104.0           38.0    87.0
19    2014-15      118.0           38.0    92.0
20    2015-16      110.0           34.0    90.0
21    2016-17      106.0           41.0    93.0
22    2017-18       94.0           44.0    76.0
23    2018-19       63.0           46.0    68.0
24    2019-20       70.0           25.0    87.0
25    2020-21       67.0           28.0    84.0

# Statistics and Machine Learning

The next section of code will go through some examples of statistics of statistics

I will be using the W3 Schools tutorial on Machine Learning and appying the topcis from it here. 

https://www.w3schools.com/python/python_ml_mean_median_mode.asp

## Mean, Median and Mode

The first step is to look at the Mean Median and Mode. 
We will be using the numpy library for these exercieses

In [ ]:
goals_scored = real_madrid['Goals For']


print("the mean number of goals scored by Real Madrid between 1995 and 2021 is ")
print (goals_scored.mean())

the mean number of goals scored by Real Madrid between 1995 and 2021 is
2.208835341365462

In [ ]:
goals_scored.mode()

0    2.0
Name: Goals For, dtype: float64

In [ ]:
x = np.median(goals_scored)

print(x)

2.0

In [ ]:
goals_scored.median()

2.0